<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="jumbotron">
    <h2 class="text-center">SIST - Sistema de Transacciones Electrónicas</h2>
    <br>
    <h4 class="text-center">Crear nuevo cuentahabiente</h4>

    <br>
    <% if (typeof result !=='undefined' && result.error) { %>
        <h5 class="text-center text-danger"><%= result.error %></h5>
        <br>
    <% }%>
    <% if (typeof result !=='undefined' && result.mensaje) { %>
        <h5 class="text-center text-success"><%= result.mensaje %></h5>
        <br>
    <% }%>
    <form method="POST" action="/cuentahabiente/nuevo">
        <div class="from-group row justify-content-md-center">
            <label for="cui" class="col-sm-3">CUI</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"
                       id="cui" name="cui"
                       placeholder="Ingrese CUI" required/>
            </div>
        </div><br>
        <div class="from-group row justify-content-md-center">
            <label for="nombre" class="col-sm-3">Nombre</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"
                       id="nombre" name="nombre"
                       placeholder="Ingrese Nombre" required/>
            </div>
        </div><br>
        <div class="from-group row justify-content-md-center">
            <label for="apellido" class="col-sm-3">Apellido</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"
                       id="apellido" name="apellido"
                       placeholder="Ingrese Apellido" required/>
            </div>
        </div><br>
        <div class="from-group row justify-content-md-center">
            <label for="email" class="col-sm-3">Email</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"
                       id="email" name="email"
                       placeholder="Ingrese Email"/>
            </div>
        </div><br>
        <div class="from-group row justify-content-md-center">
            <label for="genero" class="col-sm-3">Género</label>
            <div class="col-sm-3">
                <select class="form-control"
                       id="genero" name="genero"
                        required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
            </div>
        </div>
        <br>
        <div class="from-group row justify-content-md-center">
            <button type="submit" class="btn btn-primary btn-block col-sm-6" name="enviar">Guardar</button>
        </div>
    </form>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>