<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="jumbotron">
        <h2 class="text-center">SIST - Sistema de Transacciones Electrónicas</h2>
        <br>
        <h4 class="text-center">Entidades Financieras</h4>
        <div class="col-sm-12">
                <table id="tabla-entidades" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                                <th class="th-sm">
                                        ID
                                </th>
                                <th>
                                        Nombre
                                </th>
                                <th class="th-sm">
                                        Abreviación
                                </th>
                                <th class="th-sm">
                                </th>
                                <th class="th-sm">
                                </th>
                        </tr>
                        </thead>
                        <tbody>
                        <% result.rows.forEach(function(row) { %>
                                <tr>
                                        <td><%= row.entidad_id %></td>
                                        <td><%= row.nombre %></td>
                                        <td><%= row.abreviacion_nombre %></td>
                                        <td>
                                                <button type="button"
                                                        class="btn btn-primary btn-sm"
                                                        onclick="verOperaciones(<%= row.entidad_id %>)">
                                                        Ver Operaciones
                                                </button>
                                        </td>
                                        <td>
                                                <button type="button"
                                                        class="btn btn-primary btn-sm"
                                                        onclick="verTotales(<%= row.entidad_id %>)">
                                                        Ver Totales
                                                </button>
                                        </td>
                                </tr>
                        <% }); %>
                        </tbody>
                </table>

        </div>
</div>

<script type="text/javascript">
        $(function(){
                setDataTable('#tabla-entidades', 5);
        });
</script>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>