<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="jumbotron">
    <h2 class="text-center">SIST - Sistema de Transacciones Electrónicas</h2>
    <br>
    <h4 class="text-center">Totales de Operaciones Por Entidad Financiera</h4>
    <hr>
    <h5 class="text-center"><%= credito.rows[0].nombre %></h5>
    <br>
    <div class="from-group row justify-content-md-center">
        <label for="creditos" class="col-sm-3">Total Créditos</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"
                   id="creditos" name="creditos"
                   value="<%= credito.rows[0].total_credito %>" readonly />
        </div>
    </div>
    <div class="from-group row justify-content-md-center">
        <label for="debitos" class="col-sm-3">Total Débitos</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"
                   id="debitos" name="debitos"
                   value="<%= debito.rows[0].total_debito %>" readonly />
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>