<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="jumbotron">
    <h2 class="text-center">SIST - Sistema de Transacciones Electrónicas</h2>
    <br>
    <h4 class="text-center">Operaciones Por Cuentahabiente</h4>
    <hr>
    <h5 class="text-center">Cuentahabiente: <%= result.rows[0].nombre_cuentahabiente %> <%= result.rows[0].apellido_cuentahabiente %></h5>
    <div class="col-sm-12">
        <table id="tabla-operaciones" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">
                    Nombre
                </th>
                <th>
                    Tipo Operación
                </th>
                <th class="th-sm">
                    No. Cuenta Paga
                </th>
                <th class="th-sm">
                    No. Cuenta Cobra
                </th>
                <th class="th-sm">
                    Monto
                </th>
                <th class="th-sm">
                    Fecha
                </th>
            </tr>
            </thead>
            <tbody>
            <% result.rows.forEach(function(row) { %>
                <tr>
                    <td><%= row.nombre_cuentahabiente %> <%= row.apellido_cuentahabiente %></td>
                    <td><%= row.tipo_operacion %></td>
                    <td><%= row.no_cuenta_paga %></td>
                    <td><%= row.no_cuenta_cobra %></td>
                    <td><%= row.monto %></td>
                    <td><%= row.fecha %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        setDataTable('#tabla-operaciones', 10);
    });
</script>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>